name: CI/CD pipeline to push static website on DockerHub
on:
 push:
  branches:
    - main
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout the code
    uses: actions/checkout@v3
  - name: Login to docker hub
    uses: docker/login-action@v2
    with:
     username: ${{ secrets.DOCKER_USERNAME }}
     password: ${{ secrets.DOCKER_PASSWORD }}
  - name: Build and Push
    uses: docker/build-push-action@v4
    with:
     context: .
     push: true
     tags: pratikbhongale/static-site:latest
